* {
    margin: 0;
    padding: 0;
}
    
body {
    font-family: "Lato", Helvetica, sans-serif;
    background: #efefef;
    /* color: #1f1f1f; */
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: transparent; 
} 

.container {
    width: 100%;
    height: 100%;
    /* Smooth Scrool */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* Navbar  */

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 60px;
    background: rgba(0,0,0,0.7)
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}


.navbar ul li {
    margin: 0 1rem;
    padding: 1em;
    font-size: 1.5rem;
    
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #efefef;
}

.navbar a:hover {
    color: lightseagreen !important;
}

/* Different sections */

section {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* smooth scroll */
    scroll-snap-align: center;
} 

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
} 

/*  Home section */
#home {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 15rem 1fr 15rem;
    overflow: hidden;
}

/* #home h1 {
    margin: 0;
    grid-row: 1;
    grid-column: 1/-1;
    color: whitesmoke;
    z-index: 1;
} */

/* #home .home-background {
    width: 50%;
    height: 50%;
    grid-column: span 3;
    grid-row: 2;
    justify-content: center;
    background-size: cover;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 75px;
} */

.home-background {
    grid-row: 2;
    grid-column: 1/-1;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

#home img {
    width: 50%;
    height: 100%;
}

#home #left-side-text{
    grid-row: 2;
    grid-column: 1;
    font-size: 3rem;
    padding-right: 200px;
}

#home #right-side-text{
    grid-row: 2;
    grid-column: 3;
    font-size: 1.5rem;
    padding-left: 200px;
}


/* Project Section */

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12.5rem 1fr 1fr;
    justify-content: center;
}

#projects h1 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 0;
    grid-row: 1;
    grid-column: 1/-1;
}

#projects p {
    /* grid-row: 2;
    grid-column: span 3; */
    color: #efefef transparent;
}


/* changes */
#projects .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr 1fr 1fr);
}

.portfolio-item-wrapper{
    position: relative;
}

/* .portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

#projects .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
/* 
.logo-wrapper img{
    width:50%;
    margin-bottom: 20px;
} */

.img-text-wrapper .subtitle {
    transition: 0.25s;
    color: white transparent !important;
    font-weight: 600;
}

.img-text-wrapper p:hover {
    font-weight: 600;
    
}

.img-darken {
    transition: 0.25s;
    filter: brightness(80%);
    color: rgb(34, 227, 217) !important;
    /* color: rgb(0, 0, 0) !important; */
    background: rgba(0,0,0,0.7);
    background-size: cover;
}

/* end change */

.portfolio-item-wrapper {
    height: 17rem;
    width: 33vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}


/* Blogs Section */

#blogs {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr;
}

#blogs h1 {
    margin: 0;
    grid-row: 1;
    grid-column: 1/-1;
}

.blog-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-row: 2;
    grid-gap: 50px;
    /* border: #e6e6e6 solid;
    padding: 5px; */
}
/* .blog-content p {
    grid-ro
} */

/* About Section */

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 1fr 1fr;
}

#about h1{
    grid-row: 1;
    grid-column: 1;
    padding: 10px;
}
#about p{
    grid-row: 2;
    grid-column: 1;
    padding: 10px;
}

#about img {
    grid-column: 2;
    grid-row: span 3;
    width: 75%;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 75px;
}

@media screen and (max-width: 500px){

    .navbar ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    
    .navbar ul li {
        font-size: 0.8rem;
        padding: 0.5em;
    }
}
