<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dorjey Sherpa</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/main.css">
    </head>

    <body>
        <div class="container">
            
            <nav class="navbar">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#blogs">Blogs</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
                
            <section id="home">
                <h1>Welcome To My Page</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, magni. Itaque cumque dolores autem quaerat!</p>
            </section>

            <section id="projects">
                <h1>Here are some projects</h1>

                <div class="content-wrapper">
            
                    <a href="https://github.com/dorjeys3/Walmart_proj" target="_blank"><div class="portfolio-item-wrapper" style="background-image:url(static/images/walmart.png)">
                        <!-- <div class="portfolio-img-background" style="background-image:url(static/images/walmart.png)"></div> -->
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="static/images/logos/github-logo.png" alt="">
                            </div>

                            <p class="subtitle">
                                Using Natural Language Processing, a machine learning model was able to predict which items would be recommened items based on customers' reviews.
                            </p>
                        </div>
                    </div></a>


                    <div class="portfolio-item-wrapper" style="background-image:url(static/images/apple-one-more.jpg)">
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="static/images/logos/github-logo.png">
                            </div>

                            <p class="subtitle">
                                Used Natural Language Tool Kit, we anazlyzed all of 2020 Apple events (3 major events) via Twitter using Twint.
                            </p>
                        </div>
                    </div>


                    <div class="portfolio-item-wrapper"style="background-image:url(static/images/hotels.jpeg)">
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="static/images/logos/github-logo.png">
                            </div>

                            <p class="subtitle">
                                Created a model to predict hotel reservation cancelation.
                            </p>
                        </div>
                    </div>
            
                </div>
            </section>

            <section id="blogs">
                <h1>These are my blogs</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, magni. Itaque cumque dolores autem quaerat!5</p>
            </section>

            <section id="about">
                <h1>About me</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, magni. Itaque cumque dolores autem quaerat!5</p>
            </section>

            <section id="contact">
                <h1>Contact</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, magni. Itaque cumque dolores autem quaerat!5</p>
            </section>
        </div>
    </body>
</html>